<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.michaelpardo.pickrand"
    android:versionCode="9"
    android:versionName="1.2" >

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:name="com.activeandroid.app.Application" >
        <activity
            android:label="@string/app_name"
            android:name=".app.CategoryListActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".app.ItemListActivity" />

        <meta-data
            android:name="AA_DB_NAME"
            android:value="Pickrand.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
    </application>

    <uses-sdk android:minSdkVersion="3" />

</manifest>